
*{
    padding: 0%;
    margin: 0%;
}
main{
    width: 100%;
    min-width: 220px;
    height: 100vh;
    background-color: rgb(94, 94, 94);
    display: flex;
    justify-content: center;
    align-items: center;
}
main article{
    width: 90%;
    height: max-content;
    direction: rtl;
    border-radius: 15px;
    padding: 10px;
    background-image: linear-gradient(
        90deg,whitesmoke,
        whitesmoke 0%, whitesmoke 40%,
        #ccc 50%, #ccc 55%,
        whitesmoke 65%, whitesmoke 100%
        );
        background-size: 400%;
        animation: bg 1.5s infinite;
}
@keyframes bg {
    from { background-position: 100%; }
    to { background-position: 0%; }
}
main article #title{
    text-align: center;
    margin-bottom: 5px;
    color: rgb(0, 149, 255);
    text-shadow: 0 2px 0 black,
    0 2px 0 black,
    0 3px 0 black,
    0 4px 0 rgb(0, 149, 255);
}
section div{
    min-width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 20px;
}
textarea,nav{
    flex: 1 1 150px;
    border-radius: 10px;
    padding: 2px;
}
textarea{
    height: 20px;
    /* padding: 5px; */
    outline: none;
    resize: none;
    scrollbar-width: none;
}
textarea::placeholder{color: blue;}
textarea::-webkit-scrollbar{display: none;}
.textarea::placeholder{color: red;}

nav{
    display: grid;
    /* overflow: hidden; */
    border: 1px solid rgb(118, 118, 118);
    height: max-content;
    width: auto;
    padding: 2px;
    position: relative;
    min-width: auto;
    text-align: center;
}
nav #first_b{
    display: flex;
    justify-content: space-around;
}
nav #first_b span:last-child{
    direction: rtl;
    font-weight: 900;
    transform: rotate(180deg);
    cursor: default;
    margin: 0% 2px;
    padding: 0 10px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav div{
    background-color: gray;
    border-radius: 10px;
    height: 40vh;
    /* height: 250px; */
    overflow: auto;
    position: absolute;
    display: none;
    z-index: 1;
    margin-top: 25px !important;
    border: 2px inset whitesmoke;
}
/* nav div::-webkit-scrollbar{
    width: 0px;
} */
nav b:not(#first_b){
    background-color: whitesmoke;
    border: 1px solid rgb(118, 118, 118);
    width: 100%;
    padding: 2px !important;
}
nav div hr{
    width: 100%;
    background-color: black !important;
    padding: 1px !important;
    border-radius: 15px;
    border: none !important;
}
nav div b{
    text-align: center;
    border-radius: 10px;
    direction: ltr;
    cursor: pointer;
}
nav div b span{color: rgb(0, 149, 255);}
#value_select{direction: ltr;}